body {
  margin: 0 auto;
  height: auto;
  font-family: Helvetica, sans-serif;
  max-width: 960px;
}

header {
  color: black;
  height: auto;
  padding: 10px 2px;
  text-align: center;
}
.three-pics {
al
}

p {
  text-align: center;
}

img {
  max-height: 180px;
}
